.projectdiv{
    display: flex;
    gap: 1rem;
}

.projectlist{
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;

}

.projectdetails{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.projectinformation{
display: flex;
flex-direction: column;
gap: 1rem;
}